.container{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: fit-content;
    margin: auto;
    display: flex;
    justify-content: center;
}

.container > .loader {
    height: fit-content;
    font-size: 5em;
    padding: auto 0;
    border-radius: 50%;
    display: flex;
    background-color: var(--primary);
}

.loader  > span {
  margin: auto auto;
  padding: .5em;
  animation-name: spin;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  color: var(--back);
} 


 
@keyframes spin {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
}