.location-container{
    position:  absolute ;
    left: 0; 
    right: 0; 
    margin-top: 20px;
    margin-left: auto; 
    margin-right: auto; 
}

.location-container input{
    box-sizing:  border-box ;
    border:  1px solid transparent ;
    width:  400px ;
    height:  40px ;
    padding:  0 12px ;
    border-radius:  3px ;
    box-shadow:  0 2px 6px rgba(0, 0, 0, 0.3) ;
    font-size:  14px;
    outline:  none ;
    text-overflow:  ellipses ;
    margin-top: 2px;
    /* display: none; */
}

.btn-confirm{
    box-sizing:  border-box ;
    border:  1px solid transparent ;
    width:  200px ;
    height:  40px ;
    padding:  0 12px ;
    font-size:  15px ;
    position:  absolute ;
    left:  auto;
    margin-left:  -100px;
    bottom: 80px;
    z-index: 10;
}

/* For Mobile */
@media screen and (max-width: 540px) {
    .location-container input{
        width: 90%;
        /* margin-left: -45%; */
    }
    .btn-pickup{
        width: 50%;
        margin-left: -25%;
    }
}
