.autocompleteInput{
    box-sizing:  border-box ;
    border:  1px solid transparent ;
    width:  400px ;
    height:  40px ;
    padding:  0 12px ;
    border-radius:  3px ;
    box-shadow:  0 2px 6px rgba(0, 0, 0, 0.3) ;
    font-size:  14px ;
    outline:  none ;
    text-overflow:  ellipses ;
    position:  absolute ;
    left:  auto;
    margin-left:  -200px;
    margin-top: 20px; 
}

.btn-pickup{
    box-sizing:  border-box ;
    border:  1px solid transparent ;
    width:  200px ;
    height:  40px ;
    padding:  0 12px ;
    font-size:  15px ;
    position:  absolute ;
    left:  auto;
    margin-left:  -100px;
    bottom: 20px;
}

/* For Mobile */
@media screen and (max-width: 540px) {
    .autocompleteInput{
        width: 90%;
        margin-left: -45%;
    }
    .btn-pickup{
        width: 50%;
        margin-left: -25%;
    }
}
