:root{
  --primary: #222831;
  --back: #EEEEEE;
  --shadow: #393E46;
  --text: #00ADB5;
}

#root{
  font-family: 'Poppins', sans-serif;
  /* font-family: 'Rubik Bubbles', cursive; */
}

.App {
  text-align: center;
}

.App-header {
  background-color: var(--back);
  min-height: 100vh;
}
